Maya/scenes/.mayaSwatches/20 Poses.ma.swatches
Maya/scripts/dagMenuProc.mel
Maya/sourceimages/.mayaSwatches/skirt_texture.jpg_hcm.swatch
Maya/sourceimages/body_texture.png
Maya/sourceimages/body_texture.tx
Maya/sourceimages/eye_diff_3.jpg
Maya/sourceimages/eye_diff_3.tx
Maya/sourceimages/eye_transperency.jpg
Maya/sourceimages/eye_transperency.tx
Maya/sourceimages/skirt_texture.jpg
Maya/sourceimages/skirt_texture.tx
